<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Errore 400 - Richiesta non valida | SIW Corsa</title>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div style="text-align: center; margin-top: 50px;">
    <h1>400</h1>
    <h2>Richiesta non valida.</h2>
    <p>Il server non è riuscito a comprendere la tua richiesta. Potresti aver inserito un dato non valido o saltato un parametro obbligatorio.</p>
    
    <p th:if="${errorMessage}" th:text="${errorMessage}" style="color: #d9534f; font-style: italic;"></p>

    <br/>
    
</div>

</body>
</html>