<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrazione - SIW Corsa</title>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<h1>Registrazione nuovo atleta</h1>

<form th:action="@{/register}" method="post">

    <fieldset>
        <legend>Dati personali</legend>

        <div>
            <label>Nome</label><br/>
            <input type="text" th:field="${user.nome}" required/>
            <span th:if="${#fields.hasErrors('utente.nome')}"
                  th:errors="${user.nome}" style="color:red"></span>
        </div><br/>

        <div>
            <label>Cognome</label><br/>
            <input type="text" th:field="${user.cognome}" required/>
            <span th:if="${#fields.hasErrors('utente.cognome')}"
                  th:errors="${user.cognome}" style="color:red"></span>
        </div><br/>

        <div>
            <label>Email</label><br/>
            <input type="email" th:field="${user.email}" required/>
            <span th:if="${#fields.hasErrors('utente.email')}"
                  th:errors="${user.email}" style="color:red"></span>
        </div>
    </fieldset><br/>

    <fieldset>
        <legend>Credenziali di accesso</legend>

        <div>
            <label>Username</label><br/>
            <input type="text" th:field="${credentials.username}" required/>
            <span th:if="${#fields.hasErrors('credentials.username')}"
                  th:errors="${credentials.username}" style="color:red"></span>
        </div><br/>

        <div>
            <label>Password (min. 6 caratteri)</label><br/>
            <input type="password" th:field="${credentials.password}" required/>
            <span th:if="${#fields.hasErrors('credentials.password')}"
                  th:errors="${credentials.password}" style="color:red"></span>
        </div>
    </fieldset><br/>

    <button type="submit">Registrati</button>
</form>

<p>Hai già un account? <a href="/login">Accedi</a></p>

</body>
</html>